/* You can add global styles to this file, and also import other style files */
@media (max-width: 768px) {
    .btn {
      padding:2px 4px;
      font-size:80%;
      line-height: 1;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .btn{
      padding:4px 9px;
      font-size:90%;
      line-height: 1.2;
    }
  }

body, html {
    overflow-x: hidden;
    height: 100%;
}

.AppComponent {
	background-color: darkgray;
	padding: 2%;
}

.formLabel {
	width: 25%;
}

.add-btn {
	background-color: black;
    color: white;
    cursor: pointer;
}

#add-confirm {
	padding-left: 1%;
}

.info {
	padding: 1%;
}


.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
    text-align: center;
    color: black;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-bold {
    font-weight: 700;
}

.collegue {
	width: 20%;
    margin: 2%;
    height: 100%;
}

.row {
	padding: 2%;
    justify-content: center;
}

.alert {
    margin: 2%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    width: 100%;
    padding: 2%;
}

.active-link {
    background-color: blue!important;
    color: black !important;
}

.menu-btn {
    background-color: darkcyan;
    color: white !important;
    margin-top: 1%;
    margin-left: 2%;
    text-decoration: none;
}

.table-img {
    width: 15%;
}

.table {
    margin-top: 3%; 

}

.container {
    margin-top: 2%;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle !important;
    border-top: 1px solid #e9ecef;
}

.table td {
    width: 10%;
}

.carrousel-container {
    display: flex;
    width: 100%;
    margin: 1%;
}

.carrousel-img {
    width: 30%;
    cursor: pointer;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
    align-items:center;
    justify-content:center;
}

.carousel-caption h3 {
    font-size: 5rem !important;
}

.carousel-caption h3, .carousel-caption p {
    color: yellow;
    font-weight: bold;
}

.carousel-control {
    width: 50%;
    
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
}

.detail-nav {
    border-bottom-style: solid;
    border-color: lightgrey; 
    border-width: 1px;
    margin: 1%;
    height: 3%;
}

.detail-link {
    margin-left: 2%;
    cursor: pointer;
    color: blue !important;
}

a {
    text-decoration: none !important;
}

.large-card {
    display: flex;
    justify-content: center;
    width: 100%;
}

.large-card .card-container {
    width: 100%;
}

.large-card .card-container .card{
    width: 60%;
}

.large-card .card-container .card .card-text {
    font-size: 2.5rem !important;
}

.form-limit {
    width: 80%;
    margin-left: 2%;
    margin-top: 2%;
}

.alert-grey {
    color: black;
    background-color: lightgray;
    border-color: darkgrey;
}

.historiqueVote {
    width: 30%;
    float: right;
    margin-right: 2%;
    margin-bottom: 1%;
}

.inline-item {
    display: inline;
}

.list-item {
    width: 100%;
    display: flex;
    flex-direction: row,
}

.media-image {
    width: 25%;
    margin-right: 3%;
}
.media-image img {
    width: 100%;
}

.media-body {
    text-align: left;
}

.media-body p {
    font-size: 0.8rem;
}

.blueAtag {
    cursor: pointer;
    color: blue !important;
}

button, a {
    cursor: pointer;
}

.comment-info {
    color: gray;
}

.commentaires {
    margin: 2%;
}

.notification-desc {
    margin: 0px;
}

.btnAddComment {
    width: 100%;
}