<button id="btnAddComment" class="btn btn-outline-primary btn-sm" (click)="open(content)" [disabled]="!actif">Ajouter un commentaire</button>

<ng-template #content let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Votre avis</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="submit()" novalidate #commentForm="ngForm">
    <div class="modal-body">
      <div class="form-group">
        <label for="message-text" class="form-control-label">Que pensez-vous de {{collegue.pseudo}} ?</label>
        <textarea class="form-control" id="message-text" [(ngModel)]="comment.commentaire" name="commentaire" #commentaire="ngModel" required minlength="10" maxlength="255"></textarea>
        <p class="comment-info">Veuillez saisir votre avis avec un minimum de 10 caractères et un maximum de 255 caractères</p>
          <div *ngIf="commentaire.invalid && commentaire.errors.required && (commentaire.dirty || commentaire.touched)"  class="alert alert-danger">
            Votre avis est requis
          </div>
          <div *ngIf="commentaire.invalid && commentaire.errors.maxlength"  class="alert alert-danger">
            Votre avis doit contenir moins de 255 caractères
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="commentaire.invalid && (commentaire.errors.minlength || commentaire.errors.required)?true:false">Enregistrer</button>
    </div>
  </form>
  <div *ngIf="alertActive" class="alert {{alertClass}} alert-dismissable">
    <a (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{msg}}</strong>
  </div>
</ng-template>