<div class="AppComponent">
  <h1>Top Collègues</h1>
    <h6>Les meilleurs collègues du moment</h6>
    <app-form-collegue></app-form-collegue>
</div>
<app-menu></app-menu>
<app-limite-nb-collegues [collegues$]="collegues$"  (change)="limitChanges($event)" (change)="handleEventChanged(limite)"></app-limite-nb-collegues>
<div  class="row">
	<div *ngFor="let colleg of collegues$ | async | slice:0:limite;" class="collegue" >
  		<app-un-collegue [collegue]="colleg"></app-un-collegue>
  	</div>
</div>