<div class="AppComponent">
  <app-enligne-verification></app-enligne-verification>
  <h1>Top Collègues</h1>
    <h6>Les meilleurs collègues du moment</h6>
    <p>{{status}}</p>
    <app-form-collegue [status]="status"></app-form-collegue>
</div>
<app-menu></app-menu>
<app-limite-nb-collegues (input)="limitChanges($event)" (input)="handleEventChanged(limite)"></app-limite-nb-collegues>
<app-filtre-collegue-par-pseudo (input)="searchChanges($event)" (input)="handleSearchEventChanged(inputPseudo)"></app-filtre-collegue-par-pseudo>
<app-votre-dernier-avis></app-votre-dernier-avis>
<app-historique-des-votes></app-historique-des-votes>
<div  class="row">
	<div *ngFor="let colleg of collegues | pseudoFilter:inputPseudo | slice:0:limite;" class="collegue" >
  		<app-un-collegue [collegue]="colleg"></app-un-collegue>
  	</div>
</div>
