<div class="card-deck">
    <div class="card">
        <a routerLink="/detail/{{collegue.pseudo}}">
            <img class="card-img-top" src="{{collegue.imageUrl}}" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title" [ngStyle]="{'color': collegue.score > 0 ? 'green' : collegue.score == 0 ? 'black' : 'red'}">{{collegue.score | score}}</h4>
                <p class="card-text">{{collegue.pseudo | uppercase}}</p>
            </div>
        </a>
        <div class="card-footer">
                <app-bouton-opinion [collegue]="collegue" (change)="scoreChanges($event)" (click)="handleEventClicked(collegue.score)"></app-bouton-opinion>
                <app-ajout-commentaire [collegue]="collegue"></app-ajout-commentaire>
        </div>
    </div>
</div>