<div class="card-container">
    <div class="card">
        <a routerLink="/detail/{{collegue.pseudo}}">
            <img class="card-img-top" src="{{collegue.imageUrl}}">
            <div class="card-block">
                <h5 class="text-bold">{{collegue.pseudo}}</h5>
                <div class="card-text">
                    {{collegue.score}}
                </div>
            </div>
        </a>
        <div class="card-footer">
            <app-bouton-opinion [collegue]="collegue" (change)="scoreChanges($event)" (click)="handleEventClicked(collegue.score)"></app-bouton-opinion>
        </div>
    </div>
</div>