<div class="card-container">
    <div class="card">
        <img class="card-img-top" src="{{collegue._url}}">
        <div class="card-block">
            <h5 class="text-bold">{{collegue._nom}}</h5>
            <div class="card-text">
                {{score}}
            </div>
        </div>
        <div class="card-footer">
            <app-bouton-opinion [score]="collegue._score" (change)="scoreChanges($event)" (click)="handleEventClicked(score)"></app-bouton-opinion>
        </div>
    </div>
</div>
