<div class="AppComponent">
  <app-enligne-verification></app-enligne-verification>
  <h1>Top Collègues</h1>
    <h6>Les meilleurs collègues du moment</h6>
    <app-form-collegue></app-form-collegue>
</div>
<app-menu></app-menu>
<app-limite-nb-collegues (input)="limitChanges($event)" (input)="handleEventChanged(limite)"></app-limite-nb-collegues>
<app-filtre-collegue-par-pseudo (input)="searchChanges($event)" (input)="handleSearchEventChanged(inputPseudo)"></app-filtre-collegue-par-pseudo>
<app-votre-dernier-avis></app-votre-dernier-avis>  
<ngb-carousel class="carrousel-container">
  <ng-template ngbSlide *ngFor="let colleg of collegues | pseudoFilter:inputPseudo  | slice:0:limite;">
    <img class="carrousel-img" src="{{colleg.imageUrl}}" alt="Random first slide" routerLink="/detail/{{colleg.pseudo}}">
    <div class="carousel-caption">
      <h3>{{colleg.score}}</h3>
      <p>{{colleg.pseudo | uppercase}}</p>
      <div class="action-btn-container">
            <app-bouton-opinion [collegue]="colleg" (change)="scoreChanges(colleg,$event)" (click)="handleEventClicked(colleg,colleg.score)"></app-bouton-opinion>
        </div>
    </div>
  </ng-template>
</ngb-carousel>
<app-votre-dernier-avis></app-votre-dernier-avis>  